*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    }

    body{
        background: rgb(238, 235, 235);
        font-family: 'open sans';
        color: black;
        font-size: 12%;
        margin: 0;
        }
        
        #contenedor {
            width: 1000px;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            background:whitesmoke;
            border-radius: 20px;
            overflow: hidden;
        }
        header{
           
            height:100px;
            background-color:rgba(118, 202, 202, 0.3);
            color: black;
            text-align: center;
        }
        header h1 {
            font-size: 30px;
            text-align: center;
            line-height: 100px;
        }

        nav{
            background: rgb(0,0,0,0.7);
            height: 60px;
        }
         

         #menu{
            font-size: 25px;
            text-align: center;
            line-height: 40px;
            color: white;
         }

         #menu ul{
             list-style: none;
             margin:0;
             padding: 0;
         }

         #menu ul li{
             display:inline-block
         }
        #menu ul li a{
            color: white;
            display: block;
            padding: 10px;
            text-decoration: none;
        }
        
        #menu ul li a:hover{
            background-color:darkcyan;
        }
         header .textos{
            margin-top:152px;
            font-family: magneto;
        }
         section .contenido {
             width: 710px;
             height: 500px;
             float:left;
             background :rgba(118, 202, 202, 0.3);
             margin-top:5px;
             margin-right: 5px;
             margin-bottom: 5px;
           
         }
         
         section .contenido h2{
            font-size: 25px;
            text-align: center;
            line-height: 100px;
            color: black;
         }
         section .contenido h3{
            font-size: 20px;
            
            line-height: 50px;
            color: black;
         }
         section .contenido p{
             font-size: 20px;
             color:black;
             margin: 30px;
             text-align: justify;
         }

         aside {
             width: 280px;
             height: 500px;
             background: rgb(4, 141, 141,0.3);
             margin-top: 5px;
             margin-bottom: 5px;
             float:right;
         }

         aside h2{
            font-size: 25px;
            text-align: center;
            line-height: 60px;
            color: black;
         }
         
         aside strong{
            font-size: 25px;
            color:black;
            margin: 20px;
            line-height: 25px;
            text-align: center;
        }
        section strong{
            font-size: 20px;
            color:black;
            margin: 20px;
            line-height: 25px;
            text-align: center;
        }
        

        aside .imagen{
            width: 275px;
            height: auto;
            overflow: hidden;
            text-align: center;
            padding: 1%;
}

footer {
    background: rgb(0,139,139,0.9);
    clear: both;
    height: 150px;

}

footer h2{
    font-size: 23px;
    text-align: center;
    padding:20px;
    font-style: italic;
    color: white;
}

/*CSS formacion academica*/
section .contenidos {
    width: 1000px;
    height: auto;
    float:left;
    background :rgba(118, 202, 202, 0.3);
    margin-top:5px;
    margin-right: 5px;
    margin-bottom: 5px;

  
}
table{
width: 80%;
text-align: right;
border-collapse: separate;
font-size: 20px;
padding: 1%;
line-height: 15px;
border-right-width: 1px;
border-bottom-width: 1px;
margin-top: 20px;



}

th{
   width: 30%;
   text-align: center;
   vertical-align: top;
   border-collapse: separate;
   padding: 1em;
   caption-side: top;
   
}
td {
width: 100%;
padding: 5px;
border-right-width: 1px;
border-bottom-width: 1px;
border-right-style: solid;
border-bottom-style: solid;
border-right-color: #A4C4D0;
border-bottom-color: #A4C4D0;
text-align:left;
} 

section .contenidos ul{
    list-style: none;
    margin:0;
    padding: 0;
}
section .contenidos ul li{
    font-size: 25px;
    text-align: left;
    line-height: 25px;
    color: black;
    padding: 3px;
    margin: 30px;
    list-style: square;
   
}

section .contenidos h2{
    font-size: 25px;
    text-align: center;
    line-height: 100px;
    color: black;
 }
 section .contenidos h3{
    font-size: 20px;
    
    line-height: 50px;
    color: black;
 }
 section .contenidos p{
     font-size: 20px;
     color:black;
     margin: 30px;
     text-align: justify;
 }
 